html body {
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: rgb(177, 177, 177);
    width: 400px;
    height: 600px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "z z z"
        "a b c"
        "d e f"
        "g h i"
        "j . k";
}

.item {
    color: red;
    font-size: 50px;
}

#item0 {
    color: white;
    grid-area: a;
    background-color: red;
}

#item1 {
    grid-area: b;
    background-color: orange;
}

#item2 {
    grid-area: c;
    background-color: yellow;
}

#item3 {
    grid-area: d;
    background-color: green;
}

#item4 {
    grid-area: e;
    background-color: blue;
}

#item5 {
    grid-area: f;
    background-color: blueviolet;
}

#item6 {
    grid-area: g;
    background-color: indigo;
}

#item7 {
    grid-area: h;
    background-color: violet;
}

#item8 {
    grid-area: i;
    background-color: pink;
}

#item9 {
    grid-area: j;
    background-color: black;
}

#item10 {
    grid-area: k;
    background-color: tan;
}

#item11 {
    grid-area: z;
    background-color: white;
    /* justify-items: center; */
}