html body {
    background-color: rgb(54, 54, 54);
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: white;
    width: 400px;
    height: 600px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "z z z"
        "a b c"
        "d e f"
        "g h i"
        "j . k";
}

.item {
    color: red;
    font-size: 50px;
}

#item0 {
    grid-area: a;
}

#item1 {
    grid-area: b;
}

#item2 {
    grid-area: c;
}

#item3 {
    grid-area: d;
}

#item4 {
    grid-area: e;
}

#item5 {
    grid-area: f;
}

#item6 {
    grid-area: g;
}

#item7 {
    grid-area: h;
}

#item8 {
    grid-area: i;
}

#item9 {
    grid-area: j;
}

#item10 {
    grid-area: k;
}

#item11 {
    grid-area: z;
    justify-items: center;
}